<section class="info">
        <div class="info__left">
            <img src="img/mascota.png" alt="Perro">
        </div>
        <div class="info__right">
            <p>La única página donde puedes cuidar a tu mascota mientras mejoras tu comprensión lectora</p>
        </div>
    </section>
    <section class="panel">
        <div class="panel__main">
            <h3>¿Cómo funciona?</h3>
            <p>'Aprender' Te da la posibilidad de adquirir una mascota, la cuál tienes que cuidar resolviendo los quiz.</p>
            <p>Los quiz, te dan dinero para comprar comida y así mantenerla alegre.</p>
            <p>Los quiz constan de un texto, y 3 preguntas que ir respondiendo.</p>
        </div>
    </section>
    <section class="ejemplo">
        <div class="ejemplo__main">
            <p>"Pablito clavó un clavito"</p>
            <br><br>
            <p>¿Qué clavó Pablito?</p>
            <p><i class="far fa-square"></i> Un tornillito</p>
            <p><i class="far fa-square"></i> Nada</p>
            <p><i class="fas fa-check-square"></i> Un clavito</p>
            <p><i class="far fa-square"></i> Esta definitivamente no es</p>
        </div>
    </section>

    <h1>Enjoy!</h1>